extends ../layout

block content
    h1 Login Page
    form(action="/auth/login" method="POST")
        div.mb-3
            label.form-label(for="username") Username
            input.form-control(type="text" id="username" name="username" required)
        div.mb-3
            label.form-label(for="password") Password
            input.form-control(type="password" id="password" name="password" required)
        button.btn.btn-primary(type="submit") Login
    if error
        div.alert.alert-danger.mt-3= error
    if success
        div.alert.alert-success.mt-3= success
        