extends ../layout

block content
  h1 User Details
  if user
    ul.list-group
      li.list-group-item
        strong ID: 
        | #{user.customer_id}
      li.list-group-item
        strong First Name: 
        | #{user.first_name}
      li.list-group-item
        strong Last Name: 
        | #{user.last_name}
    a.btn.btn-secondary.mt-3(href='/users') Back to User List
    a.btn.btn-primary.mt-3(href=`/users/${user.customer_id}/edit`) Edit User
  else
    p User not found or data unavailable.
    a.btn.btn-secondary.mt-3(href='/users') Back to User List