extends ../layout

block content
  table.table.table-success.table-striped
    thead
      tr.table-active
        th.col ID
        th.col First Name
        th.col Last Name
        th.col Details

    tbody
      each user in users
        tr
          th= user.customer_id
          td= user.first_name
          td= user.last_name
          td
            a.btn.btn-primary(href=`/users/${user.customer_id}/details`) View Details