extends ../layout

//- block content
//-     ul 
//-         each user in users
//-           li= user.id + user.firstName + user.yob + user.lastName

block content
  table(class="table table-success table-striped")
    thead
      tr(class="table-active")
        th(scope="col") ID
        th(scope="col") First Name
        th(scope="col") Last Name
        
    tbody
      each user in users
        tr
          th(scope="row")= user.customer_id
          td= user.first_name
          td= user.last_name